.pos1
  justify-content: center
  position: relative
  float: right
  margin-left: 60px 

.med1
  width: 586px
  height: 168px

.numero
  width: 78px
  height: 78px

.colorcajon3
  background-color: #FEF4D6
  height: 105px
  width: 1030px
  float: none
  align-content: center
  margin-left: 90px
  padding: 20px 20px 20px 20px
  border-radius: 20px

.pos2
  justify-content: center
  position: relative
  float: left
  margin-left: 120px 

.med2
  width: 391px
  height: 209px
  padding: 20px 20px 20px 40px
  margin-top: 20px
  text-align: center

.pos3
  float: left
  margin: 15px
  margin-left: 120px

.pos4
  float: left
  margin: 20px
  margin-top: 80px

.pos5
  margin-top: 30px
  position: relative
  float: left

.pos6
  margin-top: 10px
  position: relative
  float: right
  margin-left: 30px

.colorcajon4
  background-color: #FEF4D6
  height: 147px
  width: 1090px
  float: none
  align-content: center
  margin-left: 90px
  padding: 30px 20px 30px 30px
  border-radius: 20px
  margin-top: 50px

.pos7
  position: relative
  margin: 0 auto
  margin-top: 50px 