.pos1
  justify-content: center
  position: relative
  float: right

.pos-1
  justify-content: center
  position: relative
  float: right

.m-t1-top
  margin-top: -5em  

.med1
  width: auto
  height: auto
  padding: 20px
  background-color: #E9F4FD

.colorcajon3
  background-color: #FEF4D6
  height: auto
  width: auto
  float: none
  align-content: center
  border-radius: 20px

.pos2
  justify-content: center


.med2
  width: auto
  height: auto
  padding: 40px 20px 20px 60px
  margin-top: 20px
  text-align: center

.med21
  width: auto
  height: auto
  padding: 40px 30px 40px 70px
  margin-top: 20px
  text-align: center

.arri
  margin-block-end: 3.5rem

.titulo-sexto
  margin-bottom: 24px
  border-left: 5px solid
  padding: 0px 0 0px 15px


.m-t1-top
  margin-top: -6em

.pos3
  float: left
  margin: 40px 10px 10px 130px

.pos4
  float: right
  margin: 10px 10px 10px 60px

.pos5
  margin-top: 30px
  position: relative
  float: left

.pos6
  position: relative
  float: right


.colorcajon4
  background-color: #FEF4D6
  height: auto
  width: auto
  border-radius: 20px

.cajontitle1
  height: auto
  width: auto
  text-align: center
  border-radius: 30px
  background-color: #CCE6FB
  padding: 15px 0px 1px 0px

.cajontitle2
  height: auto
  width: auto
  text-align: center
  border-radius: 30px
  background-color: #CCE6FB
  padding: 20px 0px 1px 0px

.titulomedio
  text-align: center

.cajontitle3
  height: auto
  width: auto
  text-align: center
  border-radius: 30px
  background-color: #CCE6FB

.colorcajon5
  background-color: #FEF4D6
  height: auto
  width: auto
  float: right
  text-align: left
  padding: 20px

.pos10
  float: left
  position: relative

.titulomedio2
  text-align: center
  position: relative
  margin-top: 30px

.colorcajon6
  background-color: #FEF4D6
  height: 81px
  width: 440px
  margin: 0 auto
  text-align: left
  padding: 30px

.pos12
  margin: 0 auto

.pa
  text-align: center

.pos13
  margin-left: 100px

.cen
  margin: 0 auto
  position: relative
  margin-top: -2em

.azul
 background-color: #0D5897

.pos14
  width: auto
  height: auto
  float: left

.bor
  border-radius: 20px
  

.pos15
  float: right
  margin-right: 60px

.tx
  margin-top: 10px
  float: left
  
.pos17
  float: left

.colorcajon8
  background-color: #FEF4D6
  height: auto
  width: auto
  text-align: left
  text-align: center
  margin-block-start: 40px

.imgpos3
  float: right
  position: relative
  width: auto
  height: auto
  padding-top: 20px

.colorcajon9
  background-color: #FEF4D6
  height: 96px
  width: 1030px
  margin: 0 auto
  text-align: left
  padding: 24px
  border-radius: 20px

.cajontitle4
  height: 682px
  width: 1240px
  border-radius: 10px
  background: linear-gradient(180deg, rgba(235,246,255,1) 0%, rgba(255,255,255,1) 100%)
  padding: 20px

.imgpos4
  float: left
  position: relative
  width: auto
  height: auto
  margin-top: 120px
  margin-left: 80px

.tx2
  float: right
  margin: 20px
  text-align: center
  margin-top: 120px

.tx3
  float: right
  background-position: center
  margin: 0 auto
  margin-right: 80px

.tx4
  float: right
  margin: 20px
  text-align: center
  margin-top: 20px

.m-t1-top1
  margin-top: -35em

.ce
  text-align: center

.m-t1-end
  margin-block-end: -3em

